@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');


body{
    margin: none;
    padding: none;
    list-style: none;
    background-color: #efe5e1;
}


a{
    text-decoration: none;
    color: #f77027;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.asset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 40%
}

h1{
    font-family: 'Alkatra', sans-serif;
    font-size: 50px;
    padding-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    opacity: 0.6;
    margin-top: 0px;
}

button{
    width: 100%;
    background-color: #efe5e1;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    border: solid 2px #f77027;
    color: #f77027;
}

button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.return{
    font-family: 'Tilt Warp', cursive;
    font-size: 22px;
    letter-spacing: 1px;
    position: absolute;
    top: 30px;
    left: 40px; 
}
