@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');



body{
    margin: none;
    padding: none;
    list-style: none;
    background-color: #efe5e1;

}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    padding-left: 4%;
}

nav img{
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 0px;
}

.logo{
    display: flex;
    align-items: center;
    width: 20%;
}

.logo h1{
    font-family: 'Tilt Warp', cursive;
    font-size: 24px;
    margin-left: 10%;
    padding-top: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav-links ul{
    font-family: 'Open-sans', sans-serif;
    color: black;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 22px;
    width: 90%;
    filter: opacity(0.6);
    font-size: 16px;
}

a:hover{
    filter: opacity(1);
    font-size: 18px;
    text-decoration: solid;
    color: #f77027;
    transition: 0.25s ease-out;
}

.landingPage{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
}

.landingInfo{
    width: 60%;
    padding-left: 5%;

}

.landingAsset{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingAsset img{
    width: 90%;
    height: 90%;
}

.landingInfo h1{
    font-family: 'Tilt Warp', cursive;
    font-size: 80px;
    border-bottom: 0px;
}

.landingInfo p{
    font-family: 'Open-sans', sans-serif;
    font-size: 20px;
    width: 80%;
}

.landingInfo button{
    font-family: 'Tilt Warp', cursive;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 5px 15px;
    width: 30%;
    height: 70px;
    border-radius: 25px;
    border: solid 3px #f77027;
    color: #f77027;
    cursor: pointer;
    margin-top: 5vh;
    background-color: white;
}

.landingInfo button:hover{
    background-color: #f77027;
    color: white;
    border: solid 5px #f77027;
    transition: 0.2s ease-out   ;

}