element {
    --gunmetal: #232F3E;
    --yellow: #FEBD69;
    --green: #1ABB9B;
    --red: #EE5A66;
    --white: #f1f1f1;
  }

a{
    text-decoration: none;
    color: #f1f1f1;
}

  
body{
    background-image: url('../content/img/bg-main-nightmode.jpg');
    color: #f1f1f1;
    font-family: 'Pally-Regular';
    text-decoration: none;
}

h1 {
    font-family: 'Pally-Bold';
    font-size: 3.5vw;
    text-align: center;
    line-height: 20vh;
}

textarea:focus, input:focus{
    outline: none;
}

li{
    list-style: none;
}

nav{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    height: 100px;
    margin-top: 0px;
}

nav ul{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

nav:hover{
    animation: navbarApparition 0.5s ease-out forwards;
}

.calcul{
    display: flex;
    width: 30%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #232F3E;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 66px;    
    margin-top: 0vh;
}

.infos{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.majeur{
    font-size: 80px;
    font-family: 'Pally-Medium';
}

.reponse{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color:#232F3E;
    height: 100px;
    margin-top: 18vh;
}

.reponse input{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #232F3E;
    border: none;
    color: #f1f1f1;
    font-size: 50px;
    height: 98px;
    font-family: 'Pally-Medium';
}

.button {
    font-family: 'Pally-Bold';
    color: #232F3E;
    border: solid 5px #232F3E;
    background-color: #f1f1f1;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.big {
    width: 30vw;
    height: 10vh;
    min-height: 80px;
    font-size: 2vw;
}

.medium {
    width: 20vw;
    height: 8vh;
    min-height: 80px;
    font-size: 1.5vw;
}

.button:hover{
    color: #c7a0d7;
    background-color: #232F3E;
    transition: 0.2s;
}

.histgeo{
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #232F3E;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 66px;    
    margin-top: 0vh;
    background-image: url('../content/img/flags/france.png');
    background-size: cover;
}

.enonce{
    font-size: 40px;
    text-align: center;
    font-family: 'Pally-Bold';
    margin-bottom: -10vh;
}

.question{
    display: flex;
    width: 66%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #232F3E;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;    
    margin-top: 0vh;
}

.choixMultiple{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 12vh;
}

.ligne{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.reponseM{
    width: 45%;
    height: 125px;
    background-color: #232F3E;
    border: none;
    color: #f1f1f1;
    font-family: 'Pally-Regular';
    font-size: 30px;
}
.reponseM:hover{
    background-color: #f1f1f1;
    color: #232F3E;
    border: solid 5px #232F3E ;
}

@keyframes placeholderClignotte {
    0%{
        opacity: 50%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 50%;
    }
}

@keyframes navbarApparition {
    from{
        opacity: 50%;
        transform-origin: 0px 40px;
    }
    to{
        opacity: 100%;
        transform-origin: 0px 0px;
    }
}